/config/nvim/plugged
/config/Atom
/config/Code
/config/Mailspring
/config/Insomnia
/config/Mattermost
/config/chromium
/config/google-chrome
/config/libreoffice
/config/dconf/user
/config/git/config_private
/config/mimeapps.list
/config/neofetch
/config/pulse
/config/discord
/config/GIMP
/config/Slack
/config/skypeforlinux
/config/Uniflash
/config/yarn
