[submodule "private"]
	path = private
	url = git@git.wezm.net:dotfiles-private.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:wezm/oh-my-zsh.git
